$teal: #60E5E0;
$dark-teal: #006D77;
$medium-teal: #6dd4dc;
$azure: #E0F0F5;
$white: #FCFDFD;

.main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "log right-1"
  "log right-2";
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap : 1rem;
}
.main > div {
  border: 1px dashed #888;
  border-radius : 0.5rem;
  padding : 1rem;
  background : $azure;
}

.log {grid-area: log;}
.right-1 {grid-area: right-1;}
.right-2 {grid-area: right-2;}
