<div class="container">
    <section class="layout">
        <div class="courses flex " *ngFor="let link of coursesLink">
            <div class="w-11 ">
                bulles
            </div>
            <div class="flex-1 flex flex-column align-items-end">
                <button class="btn-medium m-2 ">Ajouter</button>
                <div class="flex align-items-center">
                    <span class=" material-symbols-outlined" style="font-size : 6rem; color : darkcyan"
                          title="{{ link.name }}">
<!--                          (click)="visitor.goto ? visitor.goto() : ''"-->
                        {{ link.icon}}
                    </span>
                </div>
            </div>
        </div>
        <div class="card">3</div>
        <div class="task">task</div>
        <div class="next">class to do</div>
    </section>
</div>
