<div class="container">
  <section class="layout">
    <div class="courses flex ">
      <div class="w-11 ">
        <h2 class="ml-3 p-2"> Cours en ligne</h2>
<!--        <ng-container *ngFor="let online of onlineCourses">-->
<!--          bulles-->
<!--        </ng-container>-->
      </div>
      <div class="flex-1">
        <button class="btn-medium m-2 ">Ajouter</button>
        <div class="w-12 flex flex-row">
          <div class="flex cursor-pointer">
                              <span class=" material-symbols-outlined" style="font-size : 3rem; color : darkcyan;"
                                    title="Précédent">
                                  arrow_back_ios_new
                            </span>
          </div>
          <div class="w-6 cursor-pointer">
                            <span class=" material-symbols-outlined" style="font-size : 3rem; color : darkcyan;"
                                  title="Suivant">
                                  arrow_forward_ios
                            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-white border-round-lg">
      <h2 class="ml-3 p-2"> Cours </h2>
      <div class="card flex flex-row justify-content-center p-2">
        <ng-container *ngFor="let class of classes">
          <p-card class=" w-4  border-round-lg m-1 mb-0 " header="{{ class.name | uppercase }} " subheader="{{ class.teacher | titlecase }}">
            <div class="flex flex-column align-items-end">
              <span> {{ class.institution.name |titlecase}} </span>
              <span class="text-sm font-italic mb-1 flex justify-content-end pb-1">  {{ class.institution.address.street |titlecase }} {{ class.institution.address.number }}</span>
            </div>
            <ng-template pTemplate="header">
              <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png"/>
            </ng-template>
            <p-progressBar unit="%" [value]="calculateAvancement( class.endDate, class.startDate )"></p-progressBar>
            <div class="flex justify-content-end p-2 mt-1">
              <button class="btn-dark" >Plus de détail  </button>
            </div>
          </p-card>
        </ng-container>
      </div>
      <div class="flex align-items-center justify-content-between ">
        <button class="btn-medium ml-3">Ajouter un cours</button>
        <p-paginator [first]="first2" [rows]="rows2" [totalRecords]="120" (onPageChange)="onPageChange2($event)" [showCurrentPageReport]="true"
                     currentPageReportTemplate="{first} - {last} of {totalRecords}" [showPageLinks]="false" [showFirstLastIcon]="false" ></p-paginator>
      </div>

    </div>
    <div class="task">task</div>
    <div class="next">class to do</div>
  </section>
</div>



